/* General Styles */
.leaderboards-page {
  overflow-y: auto;
  background-color: #e0f2f1; /* Assuming a light, calming color scheme */
  padding: 20px;
  max-height: 90vh;
}

.text-center {
  text-align: center;
  color: #333; /* Dark text for better readability */
  font-weight: bold;
  margin-bottom: 20px;
}

/* Tab Styling */
.tabs-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.custom-tabs {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #ccc;
}

.tab {
  cursor: pointer;
  padding: 1rem 2rem;
  text-align: center;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.6);
  user-select: none;
  position: relative;
  transition: color 0.2s;
}

.tab:hover {
  color: rgba(0, 0, 0, 0.8);
}

.tab.active {
  color: rgba(0, 0, 0, 1);
  font-weight: 600;
}

.tab.active::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #3f51b5;
}

.level-leaderboard {
  padding: 1rem 1rem 1.5rem 1rem;
}

/* Table Styling */
table {
  width: 100%;
  margin: auto;
  border-collapse: collapse; /* For a cleaner look */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

th, td {
  text-align: left;
  padding: 12px;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: green; /* Primary color for headers */
  color: white;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Section Styling */
.leaderboard-section {
  background-color: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
