<div class="leaderboards-page">
  <div class="tabs-wrapper">
    <div class="custom-tabs">
      <div class="tab"
           [ngClass]="{ 'active': activeTabIndex === 0 }"
           (click)="onTabChange('official')">
        Official Levels
      </div>
      <div class="tab"
           [ngClass]="{ 'active': activeTabIndex === 1 }"
           (click)="onTabChange('community')">
        Community Levels
      </div>
    </div>
  </div>
  <div *ngIf="activeTab === 'official'" class="leaderboard-section">
    <div *ngFor="let leaderboardEntry of officialLeaderboards | keyvalue" class="level-leaderboard">
      <h2 class="text-center">{{leaderboardEntry.value[0].name}}</h2>
      <table>
        <thead>
            <tr>
                <th>Rank</th>
                <th>Player</th>
                <th>Score</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let scoreEntry of leaderboardEntry.value">
                <td>{{scoreEntry.rank}}</td>
                <td>{{scoreEntry.playerName}}</td>
                <td>{{scoreEntry.score}}</td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div *ngIf="activeTab === 'community'" class="leaderboard-section">
    <div *ngFor="let leaderboardEntry of communityLeaderboards | keyvalue">
      <h2 class="text-center">{{leaderboardEntry.value[0].name}}</h2>
      <table>
        <thead>
            <tr>
                <th>Rank</th>
                <th>Player</th>
                <th>Score</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let scoreEntry of leaderboardEntry.value">
                <td>{{scoreEntry.rank}}</td>
                <td>{{scoreEntry.playerName}}</td>
                <td>{{scoreEntry.score}}</td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
  