/* General Styles */
body, html {
  height: 100%; /* Ensure the full height of the page is used */
  margin: 0; /* Remove default margin */
}

.leaderboards-page {
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  height: 100vh; /* Full viewport height */
  background-color: #e0f2f1; /* Assuming a light, calming color scheme */
}

/* Tab and Header Styling */
.tabs-wrapper {
  flex-shrink: 0; /* Prevent tabs from shrinking */
}

.text-center {
  text-align: center;
  color: #333; /* Dark text for better readability */
  font-weight: bold;
  margin-bottom: 20px;
}

/* Tab Styling */
.custom-tabs {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #ccc;
}

.tab {
  cursor: pointer;
  padding: 1rem 2rem;
  text-align: center;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.6);
  transition: color 0.2s;
}

.tab:hover {
  color: rgba(0, 0, 0, 0.8);
}

.tab.active {
  color: rgba(0, 0, 0, 1);
  font-weight: 600;
}

.tab.active::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #3f51b5;
}

/* Leaderboard Section Styling */
.leaderboard-section {
  overflow-y: auto; /* Allow scrolling within this section */
  flex-grow: 1; /* Grow to fill the available space */
  background-color: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Table Styling */
table {
  width: 100%;
  margin: auto;
  border-collapse: collapse;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

th, td {
  text-align: left;
  padding: 12px;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: green;
  color: white;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Fixed Position Elements */
.help-button {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 10;
}

.back-to-menu-button {
  display: block;
  margin: 1rem auto;
}

.level-leaderboard {
  padding: 1rem 1rem 1.5rem 1rem;
}
