.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  gap: 16px;
}

.moves-counter {
  text-align: center;
}

.start-game-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.start-game-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

.main-menu-button {
  background-color: #3f51b5; /* Use any color you prefer */
  color: white;
}

.restart-game-button {
  background-color: #d62121; /* Use any color you prefer */
  color: white;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-field {
  width: 100%;
}
