.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  gap: 16px; /* Add this to create some space between the puzzle board and the button */
}

.moves-counter {
  text-align: center;
}

.start-game-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.start-game-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}