.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100vh - 200px);
  gap: 20px;
}

.moves-counter {
  text-align: center;
  margin-top: 2em;
  padding-top: 50px;
}

.start-game-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

.main-menu-button {
  background-color: #3f51b5;
  color: white;
}

.restart-game-button {
  background-color: #d62121;
  color: white;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.help-button {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10;
}
