<div *ngIf="!loading">
  <div class="game-screen">
    <button mat-icon-button (click)="openHelpModal()" class="help-button">
      <mat-icon>help_outline</mat-icon>
    </button>

    <div class="game-container">
      <div class="moves-counter">
        <h3>Moves: {{ gameService.currentMoveCount }}</h3>
      </div>
      <div class="puzzle-board-container">
        <app-puzzle-board [boardDisplay]="boardDisplay" [puzzle]="gameService.puzzle" [player]="gameService.player" appSwipe (swipe)="onMovePlayer($event)"
          (movePlayer)="onMovePlayer($event)"></app-puzzle-board>
      </div>
      <div class="button-container">
        <button mat-raised-button class="restart-game-button" (click)="promptRestart()">Restart Game</button>
        <button mat-raised-button class="go-back-button" (click)="goBack()">Go Back</button>
      </div>
    </div>
  </div>
</div>