<div *ngIf="loading">
    Loading...
</div>

<div *ngIf="!loading" class="main-container">
    <div class="game-title">
        <h1>Lawnscapers</h1>
    </div>
    <mat-card class="start-game-card">
        <div class="form-container">
            <div class="form-inputs">
                <mat-form-field appearance="fill" class="form-field">
                    <mat-label>Enter your name</mat-label>
                    <input matInput [(ngModel)]="playerName" name="playerName" #playerNameInput (blur)="onPlayerNameBlur()" />
                </mat-form-field>
                <button mat-raised-button color="primary" (click)="onLevelSelectClick()">
                    Level Select
                </button>

            </div>
            <div class="button-container">
                <!-- update this to daily puzzle, otherwise select level -->
                <button mat-raised-button color="accent" class="create-puzzle-button" (click)="createPuzzle()">Create
                    Puzzle</button>
                <button mat-raised-button color="primary" (click)="openHowToPlayModal()">
                    How To Play
                </button>
            </div>
        </div>
    </mat-card>
</div>