<div class="main-container">
  <div class="container">
    <form [formGroup]="puzzleForm" class="form">
      <mat-form-field appearance="fill">
        <mat-label>Creator Name</mat-label>
        <input matInput formControlName="creatorName" type="text" id="creatorName" required />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Puzzle Name</mat-label>
        <input matInput formControlName="puzzleName" type="text" id="puzzleName" required />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Width</mat-label>
        <input matInput formControlName="width" type="number" id="width" required />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Height</mat-label>
        <input matInput formControlName="height" type="number" id="height" required />
      </mat-form-field>
      <div class="form-group">
        <button mat-raised-button type="button" (click)="onSizeSubmit()">Generate Board</button>
        <button mat-raised-button type="button" (click)="onMainMenu()">Main Menu</button>
      </div>
    </form>
  </div>

  <div *ngIf="board.length" class="container">
    <div class="board">
      <table>
        <tr *ngFor="let row of board; index as rowIndex">
          <td *ngFor="let cell of row; index as colIndex" [ngClass]="cell" (click)="onCellClick(rowIndex, colIndex)">
          </td>
        </tr>
      </table>
    </div>

    <div class="button-group">
      <button mat-raised-button type="button" (click)="testPuzzle()" [disabled]="!validPlayerPosition()">Test Puzzle</button>
      <button mat-raised-button color="primary" type="submit" (click)="onSubmit()" [disabled]="!puzzleForm.valid || !this.gameService.createdPuzzleCompleted">Submit</button>
      <button mat-raised-button type="button" (click)="onMainMenu()">Main Menu</button>
    </div>
  </div>
</div>