<div class="content-container">
  <div class="tabs-wrapper">
    <mat-tab-group class="centered-tab-group" mat-align-tabs="center" (selectedTabChange)="onTabChange($event)">
      <mat-tab label="Official Levels"></mat-tab>
      <mat-tab label="Community Levels"></mat-tab>
    </mat-tab-group>
  </div>
  <mat-dialog-content>
    <div *ngIf="selectedTabIndex === 0" class="level-grid">
      <ng-container *ngFor="let puzzle of officialPuzzles">
        <app-level-card [puzzle]="puzzle" (selected)="onLevelSelected(puzzle)"></app-level-card>
      </ng-container>
    </div>
    <div *ngIf="selectedTabIndex === 1" class="level-grid">
        <ng-container *ngFor="let puzzle of communityPuzzles">
        <app-level-card [puzzle]="puzzle" (selected)="onLevelSelected(puzzle)"></app-level-card>
      </ng-container>
    </div>
  </mat-dialog-content>
  <button mat-button color="primary" class="back-to-menu-button" (click)="goBackToMainMenu()">Back to Main Menu</button>
</div>
