<h2>How to Play Lawnscapers</h2>
<p>
  The goal of Lawnscapers is to move over each of the grass tiles in as few
  moves as possible. In each level, you'll encounter different obstacles,
  such as walls and fences, that you'll need to navigate around.
</p>
<p>
  Swipe or use arrow keys to move the player in the desired direction. The
  player will continue to move in that direction until they hit an obstacle or
  the edge of the board.
</p>
<p>
    Once you complete the level, you'll be able to see your score and the leaderboards for the best scores on that level. You can also create your own puzzles and share them with your friends!
</p>
<p>Good luck and have fun!</p>
