:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  max-height: calc(90vh - 100px);
}

.visited, .unvisited, .obstacle {
  position: relative;
}

.game-board {
  margin: 1em;
  display: grid;
  grid-template-columns: repeat(var(--board-width), 1fr);
  grid-template-rows: repeat(var(--board-height), 1fr);
  width: min(calc(100vw - 4em), calc((90vh - 100px - 4em) * (var(--board-width) / var(--board-height))));
  height: min(calc(90vh - 100px - 2em), calc((90vw - 2em) * (var(--board-height) / var(--board-width))));
  background-color: lightgreen;
}

.game-cell {
  width: 100%;
  position: relative;
  text-align: center;
  vertical-align: middle;
  overflow: hidden; /* Ensures nothing spills out of the cell */
  offset-anchor: center; /* Centers the image in the cell */
  display: flex;
  justify-content: center;
  align-items: center;
}

.obstacle {
  background-image: url(/assets/img/BasicStoneTile_01.png);
  background-repeat: no-repeat; /* Prevents the image from tiling */
  background-position: center; /* Centers the image in the cell */
  background-size: 90%; /* Ensures the image covers the entire cell */
}

.visited {
  background-color: lightgreen;
}

.unvisited {
  background-image: url(/assets/img/NewBasicGrassTile_01.png);
  background-repeat: no-repeat; /* Stops the grass tiles from repeating */
  background-size: 85%; /* Ensures the grass image covers the entire cell */
  background-position: center; /* Centers the image in the cell */
  offset-anchor: center; /* Centers the image in the cell */
}

.game-cell.player {
  background-image: url(/assets/img/Lawnmower.png);
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center, center;
}

.player-up {
  transform: rotate(0deg);
}

.player-down {
  transform: rotate(180deg);
}

.player-left {
  transform: rotate(270deg);
}

.player-right {
  transform: rotate(90deg);
}

